[build-system]
requires = [
    "setuptools", 
    "wheel", 
    "mypy[mypyc]==1.18.2",
    "types-pyyaml",
    "types-requests",
    "types-ujson",
	# pydantic-core (installed with faster-eth-utils, which is installed with eth-event) is unable
    # to build on Python3.14 on 32-bit Linux distros so we exclude it in that one specific case
	"eth-event>=1.4.3,<2; platform_system != 'Linux' or python_version != '3.14' or platform_machine != 'i686'",
    "eth-typing>=5,<6",
	"py-solc-x==1.1.1",
]


# Brownie configuration for Black.

# NOTE: you have to use single-quoted strings in TOML for regular expressions.
# It's the equivalent of r-strings in Python.  Multiline strings are treated as
# verbose regular expressions by Black.  Use [ ] to denote a significant space
# character.

[tool.black]
line-length = 100
target-version = ['py310', 'py311', 'py312']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | env
  | venv
)/
'''
