black==19.10b0
bumpversion==0.5.3
coverage==4.5.4
flake8==3.7.9
isort==4.3.21
mypy==0.720
pytest-cov==2.8.1
pytest-mock==2.0.0
sphinx==2.4.0
sphinx_rtd_theme==0.4.3
pygments_lexer_solidity==0.4.0
tox==3.14.3
twine==3.1.1
wheel==0.34.2
