colorama>=0.4.1;platform_system=='Windows'
cytoolz>=0.9.0,<1.0.0;implementation_name=='cpython'
docopt==0.6.2
eth-abi>=2.0.0,<3.0.0
eth-account>=0.4.0,<0.5.0
eth-event>=0.2.1,<1.0.0
eth-hash[pycryptodome]>=0.2.0,<1.0.0
eth-utils>=1.4.0,<2.0.0
hexbytes>=0.2.0,<1.0.0
lru-dict>=1.1.6,<2.0.0
psutil>=5.6.2,<6.0.0
pypiwin32>=223;platform_system=='Windows'
pyreadline==2.1;platform_system=='Windows'
py-solc-ast>=1.0.2,<2.0.0
py-solc-x>=0.6.0,<1.0.0
pytest>=5.0.0,<6.0.0
pythx==1.2.6
pyyaml>=5.1.0,<6.0.0
requests>=2.22.0,<3.0.0
semantic-version>=2.8.1,<3.0.0
websockets>=7.0.0,<8.0.0
web3>=5.0.0,<6.0.0
