black
colorama>=0.4.1;platform_system=='Windows'
eth-abi
eth-account
eth-event>=1.2.1
eth-hash[pycryptodome]
eth-utils
hexbytes
hypothesis
prompt-toolkit
psutil>=5.7.3
py>=1.5.0
py-solc-ast>=1.2.8
py-solc-x>=1.1.0
pygments
pygments_lexer_solidity
pytest
pytest-xdist
pythx
pyyaml>=5.3.0
requests>=2.25.0
rlp
semantic-version
tqdm
vvm>=0.1.0
vyper>=0.2.11
web3
