colorama>=0.4.1;platform_system=='Windows'
eth-abi==2.1.0
eth-event>=0.2.2,<1.0.0
eth-hash[pycryptodome]==0.2.0
eth-utils==1.8.4
hexbytes==0.2.0
hypothesis==5.5.1
psutil>=5.6.7,<6.0.0
py>=1.5.0
pyreadline==2.1;platform_system=='Windows'
py-solc-ast>=1.1.0,<2.0.0
py-solc-x>=0.7.2,<1.0.0
pytest==5.3.5
pytest-xdist==1.31.0
pythx==1.5.3
pyyaml>=5.3.0,<6.0.0
requests>=2.22.0,<3.0.0
semantic-version>=2.8.4,<3.0.0
tqdm==4.42.1
vyper==0.1.0b16
web3==5.5.1
