black==19.10b0
eth-abi<3
eth-account<1
eth-event>=1.2.1,<2
eth-hash[pycryptodome]<1
eth-utils<2
hexbytes<1
hypothesis<6
prompt-toolkit<4
psutil>=5.7.3,<6
py>=1.5.0,<2
py-solc-ast>=1.2.8,<2
py-solc-x>=1.1.0,<2
pygments<3
pygments-lexer-solidity<1
pytest<7
pytest-xdist<2
pythx<2
pyyaml>=5.3.0,<6
requests>=2.25.0,<3
rlp<2
semantic-version<3
tqdm<5
vvm>=0.1.0,<1
vyper>=0.2.11,<1
web3<6
