name: Compile C Files

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build wheel
      uses: BobTheBuidler/mypycify@v0.2.6
      with:
        python-version: '3.13'
        hash-key: |
          - '**/*.py'
          - 'pyproject.toml'
          - 'setup.py'
        ccache: 'true'
        push-source: 'true'
        normalize-source: 'true'
        trigger-branch-name: ${{ github.head_ref || github.ref_name }}
        commit-message: "chore: compile C files for source control"
