name: Core Ganache (py3.11)
on: ["push", "pull_request"]

env:
  ETHERSCAN_TOKEN: 9MKURTHE8FNA9NRUUJBHMUEVY6IQ5K1EGY
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  WEB3_INFURA_PROJECT_ID: 1668fecbc9c242d58253476103a42ce9

jobs:
  py311core:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache Solidity Installations
        uses: actions/cache@v2
        with:
          path: |
            ~/.solcx
            ~/.vvm
          key: ${{ runner.os }}-compiler-cache

      - name: Setup Node.js
        uses: actions/setup-node@v4

      - name: Install Ganache
        run: npm install -g ganache@7.9.2

      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Tox
        run: pip install tox

      - name: Run Tox
        run: tox -e py311

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
