on: ["push", "pull_request"]

name: evm tests

env:
  ETHERSCAN_TOKEN: 9MKURTHE8FNA9NRUUJBHMUEVY6IQ5K1EGY
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  WEB3_INFURA_PROJECT_ID: 44c6300c5e5b4b2da5fc42b06bf18a8e

jobs:

  evm:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        job: [evm-byzantium, evm-petersburg, evm-istanbul, evm-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Cache Solidity Installations
      uses: actions/cache@v2
      with:
        path: |
          ~/.solcx
          ~/.vvm
        key: ${{ runner.os }}-compiler-cache

    - name: Setup Node.js
      uses: actions/setup-node@v4

    - name: Install Ganache
      run: npm install -g ganache@7.9.2

    - name: Setup Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Tox
      run: pip install tox

    - name: Run Tox
      run: tox -e ${{ matrix.job }}

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
